@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

.nav-link:hover {
  color: rgb(255, 230, 0) !important;
}
.nav-link:focus {
  color: rgb(255, 230, 0) !important;
}
/* section search */
.card {
  border-radius: 10px !important;
  overflow: hidden !important;
}
.card-search .card .card-img img {
  width: 100% !important;
  height: 100% !important;
  object-fit: cover;
}
body {
  font-family: "Montserrat", serif !important;
}
.form-check-input:checked {
  background-color: black !important; /* Sets the checkbox background to black when checked */
  border-color: black !important; /* Changes the border color of the checkbox to black */
}
.form-check-input:focus {
  outline: none !important;
  box-shadow: none !important;
}

.form-check-input {
  border-color: black !important; /* Changes the border color of the checkbox to black */
}
img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.card-logo {
  border-radius: 20px !important;
  overflow-y: hidden;
}
.card-job {
  background: var(--main-color);
  border-radius: 10px !important;
  backdrop-filter: blur(10px) !important;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}
/* .card {
  background-color: #f2d4ae !important;
}
section {
  background-color: #f2f0f0 !important;
} */
.search-input {
  border: none !important;
}
.search-input:focus {
  outline: none !important;
  box-shadow: none!important;

}
